kafka-streaming/dist/*
SparkStreamingJob/dist/*
batch-data/dist/*
SparkStreamingJob/metastore_db/*
kafka-streaming/target/
kafka-streaming/lib_managed/
kafka-streaming/src_managed/
kafka-streaming/project/boot/
kafka-streaming/project/target/
kafka-streaming/project/project/
kafka-streaming/project/plugins/project/
kafka-streaming/.history
kafka-streaming/.cache
kafka-streaming/.lib/
kafka-streaming/.idea/


SparkStreamingJob/target/
SparkStreamingJob/lib_managed/
SparkStreamingJob/src_managed/
SparkStreamingJob/project/boot/
SparkStreamingJob/project/target/
SparkStreamingJob/project/plugins/project/
SparkStreamingJob/.history
SparkStreamingJob/.cache
SparkStreamingJob/.lib/
SparkStreamingJob/.idea/


batch-data/target/
batch-data/lib_managed/
batch-data/src_managed/
batch-data/project/boot/
batch-data/project/target/
batch-data/project/plugins/project/
batch-data/.history
batch-data/.cache
batch-data/.lib/
batch-data/.idea/
Notes/

### Scala ###
*.class
*.log

